.button{
    -fx-background-radius: 5;
    -fx-background-color: #fafafa;
    -fx-border-color: #bfbfbf;
}
.buttonBusy{
    -fx-background-color: #cfcfcf;
}
.reset{
    -fx-background-color: #fafafa;
}
#pane {
    -fx-background-image: url("file:C:/Users/Marcin/Desktop/zaba.jpg");
}